[submodule "cadmium"]
	path = cadmium
	url = https://github.com/SimulationEverywhere/cadmium.git
[submodule "DESTimes"]
	path = DESTimes
	url = https://github.com/SimulationEverywhere/DESTimes.git
[submodule "RT-Cadmium-Models"]
	path = RT-Cadmium-Models
	url = https://github.com/SimulationEverywhere/RT-Cadmium-Models.git
[submodule "DEVS-Models"]
	path = DEVS-Models
	url = https://github.com/SimulationEverywhere-Models/Cadmium-DEVS-Models.git
[submodule "CadmiumModelJSONExporter"]
	path = CadmiumModelJSONExporter
	url = https://github.com/SimulationEverywhere/CadmiumModelJSONExporter.git
[submodule "Cell-DEVS-Models/Cadmium-CellDEVS-SampleModels"]
	path = Cell-DEVS-Models/Cadmium-CellDEVS-SampleModels
	url = https://github.com/SimulationEverywhere-Models/Cadmium-CellDEVS-SampleModels
[submodule "cadmium-web-extension"]
	path = cadmium-web-extension
	url = https://github.com/SimulationEverywhere/cadmium-web-extension.git
