[submodule "Cadmium-DEVS-Models"]
	path = Cadmium-DEVS-Models
	url = https://github.com/SimulationEverywhere/Cadmium-DEVS-Models.git

[submodule "cadmium"]
	path = cadmium
	url = https://github.com/SimulationEverywhere/cadmium.git
[submodule "DESTimes"]
	path = DESTimes
	url = https://github.com/SimulationEverywhere/DESTimes.git
